[Unit]
Description=ptp4l running gPTP on %i for triib
Documentation=man:ptp4l(8)
After=network.target
Conflicts=triib-ptp4l-lite@%i.service
Wants=triib-link@%i.service
After=triib-link@%i.service

[Service]
ExecStart=ptp4l -f /etc/triib/ptp4l-gptp.cfg -i %i
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
