[Desktop Entry]
Type=Application
Name=triib
GenericName=AVB Controller
Comment=Discover, connect and set up AVB and Milan devices
Exec=triib
Icon=io.github.scrambletools.triib
Terminal=false
Categories=AudioVideo;Audio;
Keywords=AVB;ATDECC;AVDECC;Milan;1722.1;audio;network;
StartupWMClass=io.github.scrambletools.triib
